.good-item {
  flex: 0 1 300px;
}
.card {
  display: flex;
  flex-direction: column;   
  margin: 0;
}
.card .card-content {
  flex: 0 1 190px;
  padding: 10px;
  max-height: 140px;
  overflow-y: auto;
}
.card-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .price{
  font-size: 1.5rem; 
  font-weight: 700;
}
