.good-item {
  flex: 0 1 300px;
}
.card {
  display: flex;
  flex-direction: column;   
  margin: 0;
}
.card-content {
  flex: 0 1 190px;
}
.card-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .price{
  font-size: 1.5rem; 
  font-weight: 700;
}
