.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card img {
	max-height: 400px;
}
.card-body {
	flex: 0 1 auto;
}
.card-title {
	margin: 0 0 1rem 0 !important;
}

.movie-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
