:root {
	--main-bg-color: teal;
	--main-font-color: #000000;
	--second-font-color: #ffffff;
	--link-hover-color: #71ffff;
	--linc-hover-transition: 0.3s linear;
}
body {
	user-select: none;
}
a {
	color: var(--main-font-color);
	text-decoration: none;
	transition: color var(--linc-hover-transition);
}
a:hover {
	color: var(--link-hover-color);
	transition: color var(--linc-hover-transition);
}
main {
	min-height: calc(100vh - 120px);
}
