.App {
	max-width: 768px;
	margin: 100px auto;	
}
.content {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: 30px;
}
.info {
	display: flex;
	gap: 20px;
}
input {
	padding: 10px;
}
button {
	padding: 10px 20px;
}
